<%= form_with(model: profile, local: true, html: { multipart: true }) do |form| %>
<div class="form-row mb-5">
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="form-group rounded-circle text-center">
          <% if current_user.profile.avatar.nil? || current_user.profile.avatar.present? %>
          <div class="text-center">
            <%= image_tag @profile.avatar_url(:medium).to_s, class: "rounded-circle mb-3 mt-4 img-thumbnail" %>
          </div>
        <% else %>
          <div class="text-center">
            <%= image_tag default_profile, class: "img-thumbnail rounded-circle circular--square circular--landscape circular--portrait" %>
          </div>
        <% end %>

          

        </div>
        <div class="input-group mb-3">
          <div class="custom-file">
            <%= form.file_field :avatar, id: :profile_avatar, class: "form-control", placeholder: "Profile Picture", aria: {describedby: "iokosuploadfile"} %>

            <%= form.label "Choose file", class: "custom-file-label text-truncate", for: "profile_avatar" %>
            <%= form.hidden_field :avatar_cache %>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Published</h6>
      </div>
      <div class="card-body">
        
        <div class="actions">
          <%= form.submit class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card shadow mb-4">
      <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary"><%= controller.controller_name.titleize %></h6>
      </div>
      <div class="card-body">
        <% if profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
          <ul>
            <% profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class="form-row">
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :first_name %>
              <%= form.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :middle_name %>
              <%= form.text_field :middle_name, class: "form-control" %>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :last_name %>
              <%= form.text_field :last_name, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :gender %>
              <%= form.select(:gender, Profile.genders.keys.map {|gender| [gender.to_s.titleize,gender]}, { prompt: "Select Gender" }, {class: 'custom-select form-control', id: :gender}) %>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :mobile_phone %>
              <%= form.text_field :mobile_phone, class: "form-control" %>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :Email %>
              <div class="form-control disabled" readonly>
                <%= current_user.email %>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :address1 %>
              <%= form.text_field :address1, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :address2 %>
              <%= form.text_field :address2, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :city %>
              <%= form.text_field :city, class: "form-control" %>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :state %>
              <%= form.text_field :state, class: "form-control" %>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :zipcode %>
              <%= form.text_field :zipcode, class: "form-control" %>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group">
              <%= form.label :country %>
              <%= form.text_field :country, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
jQuery(document).on('turbolinks:load', function() {
    $('#profile_avatar').on('change',function(){
        //get the file name
        var fileName = $(this).val();
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })

    function readURL(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('.img-thumbnail').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#profile_avatar").change(function() {
      readURL(this);
    });

});
</script>