  <% content_for :page_css do %>
    <%= stylesheet_link_tag "creative", media: 'all' %>
  <% end -%>
<section class="wh-100">
  <div class="d-flex align-items-center fwh-100">

    <div class="container-fluid">

      <div class="row">
        <div class="col">
          <%= bootstrap_flash %>
          <div style="font-size: 6em;" class="text-center text-white">
            <i class="fas fa-user-shield 3x"></i>
          </div>
          <div class="form-group">
            <%= link_to new_user_session_path, class: "btn btn-primary btn-lg btn-block rounded-pill" do  %>
            Signin
            <% end -%>
            
          </div>
          <div class="form-group">
            <%= link_to new_user_registration_path, class: "btn btn-outline-warning btn-lg btn-block rounded-pill" do %>
            Signup
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>   
  <% content_for :page_js do %>
    <%= javascript_include_tag 'creative', 'data-turbolinks-track': 'reload' %>
  <% end -%>