
<%= form_with(model: warranty, local: true) do |form| %>
  <% if warranty.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible fade show" role="alert">
      <h3><%= pluralize(warranty.errors.count, "error") %> prohibited this warranty from being saved:</h3>

      <ul>
      <% warranty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

<div class="row mb-3">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h5>Publish</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <%= form.submit class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card">
      <div class="card-header"><h5><%= controller.controller_name.titleize %></h5></div>
      <div class="card-body">
        <div class="form-group">
        <%= form.label :product_name %>
        <%= form.collection_select :product_id, Product.all, :id, :product_name, {promt: "Choose a Product" }, class: "custom-select" %>

        </div>

        <div class="form-group">
        <%= form.label :product_serial_number %>
        <%= form.text_field :product_serial_number, class: "form-control" %>
        </div>

        <div class="form-group">
        <%= form.label :client_id %>
        <%= form.collection_select :client_id, User.all, :id, :my_full_name, {promt: "Choose a Client" }, class: "custom-select" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
