<p id="notice"><%= notice %></p>

<h1>Warranties</h1>

<table>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Product serial number</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warranties.each do |warranty| %>
      <tr>
        <td><%= warranty.product_name %></td>
        <td><%= warranty.product_serial_number %></td>
        <td><%= warranty.client_id %></td>
        <td><%= link_to 'Show', warranty %></td>
        <td><%= link_to 'Edit', edit_warranty_path(warranty) %></td>
        <td><%= link_to 'Destroy', warranty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warranty', new_warranty_path %>
