<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-dark p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon"><i class="fas fa-user-shield"></i></div>
            <div class="sidebar-brand-text mx-3"><span><%= app_name %></span></div>
        </a>
        <hr class="sidebar-divider my-0">
        
        <% if current_user.has_role? :admin %>
            <%= render 'layouts/admin' %>
        <% elsif current_user.has_role? :distributor %>
            <%= render 'layouts/distributor' %>
        <% elsif current_user.has_role? :agent %>
            <%= render 'layouts/agent' %>
        <% else %>
            <%= render 'layouts/client' %>
        <% end -%>

        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>