<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
        <ul class="nav navbar-nav flex-nowrap ml-auto">
            <li class="nav-item dropdown no-arrow" role="presentation">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                        <% if current_user.profile.first_name.nil? || current_user.profile.first_name.empty?   %>
                        <span class="d-none d-lg-inline mr-2 text-gray-600 small">Your Name</span>
                        
                        <% else %>
                        <span class="d-none d-lg-inline mr-2 text-gray-600 small"><%= full_name %></span>
                        
                        <% end -%>
                        <% unless current_user.profile.avatar.present?  %>
                            <%= image_tag asset_path("img/avatars/avatar1.jpeg"), class: "border rounded-circle img-profile" %>
                        <% else %>
                            <%= image_tag current_user.profile.avatar_url(:thumb).to_s, class: "border rounded-circle img-profile" %>
                        <% end %>

                        

                    </a>
                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                        <%= link_to edit_profile_path(current_user), class: "dropdown-item", role: "presentation" do %>
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile
                        <% end -%>
                        
                        <div class="dropdown-divider"></div>
                        <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item", role: "presentation" do %>
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                        <% end %>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>